/*Import Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

/*CSS Variables*/
:root {
  --primary-font: "Space Mono", monospace;
  --secondary-font: "Monserrat", sans-serif;
  --tertiary-font: "Iconsolata", monospace;
  --primary-color: #ffffff;
  --secondary-color: #bdbdbd;
  --gray-1: #333333;
  --gray-2: #4f4f4f;

  --text-xs: 0.75rem; /*12px -> 0.75rem*/
  --text-sm: 0.875rem; /*14px -> 0.875rem*/
  --text-md: 1rem; /*16px -> 1rem*/
  --text-lg: 1.5rem; /*24px -> 1.5rem*/
  --text-bg: 5rem; /*64px -> 5rem*/

  --space-sm: 0.5rem; /*8px -> 0.5rem*/
  --space-md: 1rem; /*16px -> 1rem*/
  --space-lg: 2rem; /*32px -> 2rem*/

  --rounded-sm: 8px;
  --rounded: 16px;

  --shadow: 0px 2px 24px 0 px rgba(0, 0, 0, 0.1);
}

/*Reset*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Styling*/
main {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main__header > p {
  font-family: var(--third-font);
  font-size: var(--text-lg);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
  color: var(--gray-1);
  transform: translateX(2rem);
  margin-top: -20px;
  margin-bottom: 2.5rem;
}

.main__container {
  width: min(100%);
  height: min(90%);
  margin: 1rem;
  display: flex;
}

.container__image > img {
  width: 539.22px;
  height: 447.43px;
  padding: 2rem;
  margin: 1rem;
}

.container__text {
  width: 50%;
  height: 87%;
  padding: 2rem;
  margin: 1rem;
}

.container__text__title {
  width: 586px;
  height: 190px;
  color: var(--gray-1);
  font-family: var(--primary-font);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.24px;
}

.container__text__paragraph {
  width: 381px;
  height: 108px;
  margin: 1rem 0;
  font-family: var(--primary-font);
  font-size: var(--text-lg);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
}

.container__text__button {
  width: 216px;
  height: 68px;
  margin-top: 1rem;
  border: none;
  font-family: var(--primary-font);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -6.5%;
  color: var(--primary-color);
  background-color: var(--gray-1);
}

button:hover {
  background-color: gray;
  color: black;
}

button:active {
  color: var(--primary-color);
}

.main__footer {
  width: 287px;
  height: 17px;
  transform: translateX(500px);
  margin-top: 1.5rem;
  font-family: var(--secondary-font);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  main {
    width: 100%;
    height: 100%;
  }

  .main__header > p {
    font-family: var(--third-font);
    font-size: var(--text-lg);
    font-weight: 700;
    transform: translateX(-2rem);
  }

  .main__container {
    margin: 1rem;
    display: block;
  }

  .container__image > img {
    width: 286.83px;
    height: 238px;
    padding: 1rem;
    margin: 1rem;
    transform: translateX(-2.7rem);
  }

  .container__text {
    width: 77vw;
    height: 60%;
    padding: 2rem;
    margin: 1rem;
    transform: translateX(-2.7rem);
  }

  .container__text__title {
    width: 330px;
    height: 142px;
    color: var(--gray-1);
    font-family: var(--primary-font);
    font-size: 40px;
    letter-spacing: -3.5%;
    transform: translateX(-1.7rem);
  }

  .container__text__paragraph {
    width: 288px;
    height: 81px;
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: -3.5%;
    transform: translateX(-1.7rem);
  }

  .container__text__button {
    width: 216px;
    height: 68px;
    margin-top: 2rem;
  }

  .main__footer {
    font-size: 14px;
    transform: translateX(1rem);
    margin-top: 4rem;
  }
}

/*@media screen and (min-width: 480px) and (max-width: 700px) {
  header {
    top: 30px;
    left: 34px;
  }

  .container > .image > img {
    width: 266.83px;
    height: 238px;
    top: 209px;
    left: 24px;
  }

  .container > .text > .title {
    width: 280px;
    height: 142px;
    top: 209px;
    left: 368px;
    font-size: 28px;
    line-height: 38px;
  }

  .container > .text > .paragraph {
    width: 200px;
    height: 81px;
    top: 319px;
    left: 368px;
    font-size: 12px;
    line-height: 20px;
  }

  .container > .text > .button {
    width: 116px;
    height: 48px;
    top: 410px;
    left: 368px;
    font-size: 12px;
  }

  .footer {
    width: 400px;
    height: 17px;
    top: 638px;
    left: 150px;
  }
}*/
